@mixin base-text-styles($color, $backgroundColor: transparent, $property: null, $value: null) {

    @if $backgroundColor != transparent{
        background-color: $backgroundColor;
    }

    @if $property != null{
        #{$property}: $value;
    }

    font-size: $base-font-size;
    margin-bottom: $margin-bottom-font;
    padding: $paddind-font;
    color: $color;
} 